.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato__logo{
    width: 240px;
    margin: 2rem 5rem;
    height: 200px;
}

.contato__imagem{
    margin: 2rem;
    width: 80vw;
    height: 35vh;
}

@media (min-width: 720px) {
   .contato__logo{
        margin: 1rem 350px;
        width: 50vw;
        height: 50vh;
   }

   .contato__imagem{
    width: 50vw;
   }  
}